/* Form styling */

.form-container {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0069d9;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}


/* Page styling */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #007bff;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}

p {
    margin-top: 20px;
    text-align: center;
}