<!DOCTYPE html>
<html>

<head>
    <title>Glossary Term Extractor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
</head>

<body class="home-body">
    <div class="home-container">
        <h1 class="home-heading">Welcome to Glossary Term Extractor</h1>
        <div class="home-links">
            <a href="{{ url_for('login') }}" class="home-link">Login</a>
            <a href="{{ url_for('signup') }}" class="home-link">Sign up</a>
        </div>
    </div>
</body>

</html>