<!DOCTYPE html>
<html>

<head>
    <title>Text Uploader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload_style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Text Uploader</h1>
        <form method="POST" action="{{ url_for('upload') }}">
            <label for="text_input">Paste your text here:</label><br>
            <textarea id="text_input" name="text_input" rows="10" cols="50"></textarea><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>